@using System.ComponentModel
@using NedunyaAntiquesWebApp.Models
@model IEnumerable<NedunyaAntiquesWebApp.Models.Product>

<script type="text/javascript" src="~/Scripts/global2.js"></script>
<link type="text/css" media="all" href="~/Content/ourstyle.css">



@foreach (var item in Model)
{


    <!--Single Product-->
    <div class= "col-12 col-sm-6 col-lg-4">
        <div class= "single-product-wrapper">
            <div class= "last-try">
                <!--Single Image-->
                <div class="product-img">
                    <img src="~/Images/Thumbs/@(item.Images.ElementAt(0).Name)" />
                </div>
                <!--Product Description-->
                <div class="product-description">
                    <p>
                        <b>שם המוצר:</b> @Html.DisplayFor(modelItem => item.Name)
                    </p>
                    <p>
                        <b>מחיר:</b> @Html.DisplayFor(modelItem => item.Price) 
                    </p>

                </div>
            
            </div>
            <p class="text-center">
                @Html.ActionLink("הוסף לסל", "AddToCart", "ShoppingCart", new { id = item.ProductId }, new {@class = "btn btn-info"})
            </p>
        </div>
    </div>
}
