
@{
    Layout = null;
    ViewBag.Title = "Charts";
}
<!DOCTYPE html>
<meta charset="utf-8">
<style>

    body {
        font: 10px sans-serif;
    }

    .arc path {
        stroke: #fff;
    }

    .legend rect {
        fill: white;
        stroke: black;
    }
</style>

<body>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="~/Scripts/d3.legend.js"></script>
    <script src="~/Scripts/productsChart.js"></script>
</body>