@model NedunyaAntiquesWebApp.Models.Customer
@{
    ViewBag.Title = "CustomerForm";
}

<h2>CustomerForm</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsSubscribed)
        @Html.CheckBoxFor(m => m.IsSubscribed, new { @class = "form-control" })
    </div>
} 

