
@{
    ViewBag.Title = "ErrorMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-right pagetextheb">
    <h1>סליחה, נראה שהחלק הזה של האתר בבנייה.</h1>
    <h1>נשמח לסייע דרך עמוד צור קשר. </h1>
</div>

