@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="text-right">
    <p> נדוניה עתיקות </p>
    <p> בן יהודה 116, תל אביב </p>
    <p> Nedunya Antiques </p>
    <p> Ben Yehuda 116, Tel Aviv </p>

    <p> Nedunyatlv@gmail.com </p>

    <p> General Information </p>
    <p>
        מה ניתן למצוא בנדוניה?

        כלי מטבח וכלי עבודה ישנים, רהיטים: שולחנות, כסאות וספסלים, ארונות ומדפים, מבחר סלים עתיקים מקש ומתכת, מראות ושעוני קיר. והכל ברוח ה"שאבי שיק" הצרפתי תוך הקפדה על שימור המראה המקורי. כמו כן ניתן למצוא בחנות לא מעט פריטים תעשייתים העשויים מתכת כגון כסאות וארונות שבעבר היו במפעלים, משרדים ובתי ספר. המבחר בחנות משתנה מעת לעת ופותח את התאבון לרעיונות ועיצובים חדשים.
    </p>
</div>