@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="text-right pagetextheb">
    <h1 class="pfennig-bold-font"> נדוניה עתיקות </h1>
    <div class="About-text">
        <p> מידע כללי </p>
        <br />
        מה ניתן למצוא בנדוניה?
        <p>
            כלי מטבח וכלי עבודה ישנים, רהיטים: שולחנות, כסאות וספסלים, ארונות ומדפים, מבחר סלים עתיקים מקש ומתכת, מראות ושעוני קיר.
        </p>
        <p>והכל ברוח ה"שאבי שיק" הצרפתי תוך הקפדה על שימור המראה המקורי.</p>
        <p>
            כמו כן ניתן למצוא בחנות לא מעט פריטים תעשייתים העשויים מתכת כגון כסאות וארונות שבעבר היו במפעלים, משרדים ובתי ספר.
        </p>
        <p>המבחר בחנות משתנה מעת לעת ופותח את התאבון לרעיונות ועיצובים חדשים.</p>
    </div>
</div>


