@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address class="text-right pagetextheb">
    Nedunya Antiques<br />
    בן יהודה 116, תל אביב<br />

    <mail title="דוא" ל">דוא"ל : </mail>
    Nedunyatlv@gmail.com
</address>

<!--Leaving a message-->
<h3 class="text-right">@ViewBag.TheMessage</h3>
<form method="post" class="text-right">
    <textarea name="message"></textarea>
    <input type="submit" value="send"/>
</form>


<!--Google map-->

<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 50%; /* The width is the width of the web page */
        background-color: grey;
        margin: auto;
        border: 3px solid grey;
        padding: 10px;
    }
</style>

<!--The div element for the map-->
<div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Neduniya
        var NedunyaLocation = { lat: 32.083476, lng: 34.771842 };
        // The map, centered at Neduniya
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 14, center: NedunyaLocation });
        // The marker, positioned at Neduniya
        var marker = new google.maps.Marker({ position: NedunyaLocation, map: map });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACkjJTb3AhOX95sMgoOVIkZPVxDPsrkCQ&callback=initMap">
</script>