@{
    ViewBag.Title = "Contact";
}


<address class="text-right pagetextheb">
    Nedunya Antiques<br />
    בן יהודה 116, תל אביב<br />

    <mail title="דוא" ל">דוא"ל : </mail>
    Nedunyatlv@gmail.com
</address>




<!--Google map-->

<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 50%; /* The width is the width of the web page */
        background-color: grey;
        margin: auto;
        border: 3px solid grey;
        padding: 10px;
    }
</style>

<!--The div element for the map-->
<div id="map"></div>
<script src=@Url.Content("~/Scripts/map-active.js") async></script>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Neduniya
        var NedunyaLocation = { lat: 32.083476, lng: 34.771842 };
        // The map, centered at Neduniya
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 14, center: NedunyaLocation });
        // The marker, positioned at Neduniya
        var marker = new google.maps.Marker({ position: NedunyaLocation, map: map });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACkjJTb3AhOX95sMgoOVIkZPVxDPsrkCQ&callback=initMap">
</script>




<!--Leaving a message-->
<!--This is done by using formspree API-->
<h3 class="messageforuser text-right">@ViewBag.TheMessage</h3>

<div class="container conmail-area-container">
    <form action="https://formspree.io/greengon1991@gmail.com" method="post" class="text-right">
        <label for="name">שם מלא: </label>
        <input type="text" id="username" name="name" placeholder="שם...">
       
        <label for="email">מייל: </label>
        <input type="email" id="mail" name="_replyto" placeholder="השאר מייל לחזרה">
        
        <textarea id="subject" class="mail-textarea" name="subject" placeholder="כתוב כאן..."></textarea>  
        
        <input type="submit" value="שלח">
        <input type="hidden" name="_next" value="/Home/contact" />
    </form>
</div>