@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="img-bg-1 welcome_area bg-img background-overlay" style="background-image: url(../img/bg-img/bg-1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content text-right" style="margin-top:300px;">
                    <h2 class="pfennig-bold-font" style="margin:0;">"נדוניה"</br> עתיקות</h2>
                    <a href="#" class="btn essence-btn">לכל המבצעים לחצו כאן!</a>
                </div>
            </div>
        </div>
    </div>
</section>
