@{
    ViewBag.Title = "Home Page";
}
<section class="img-bg-1 welcome_area bg-img background-overlay" style="background-image: url(../../img/bg-img/bg-1.jpg);
    object-fit: contain;" >
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content text-right">
                    <h6 class="pfennig-bold-font">מחכים לכם!</h6>
                    <h2 class="pfennig-bold-font">"נדוניה" עתיקות</h2>
                    <a href="#" class="btn essence-btn">לכל המבצעים לחצו כאן!</a>
                </div>
            </div>
        </div>
    </div>
</section>
