@{
    ViewBag.Title = "Home Page";
}
<section class="welcome_area bg-img background-overlay" style="background-image: url(../img/bg-img/bg-100.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content text-right" style="margin-top:230px;">
                 <input type="button" class="btn essence-btn" value="לכל המבצעים לחצו כאן!" onclick="location.href='@Url.Action("ShowProdOnSale", "Products")'" />
                    <!--   <a href="#" class="btn essence-btn">לכל המבצעים לחצו כאן!</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/img/bg-img/nd-4.jpeg);">
                    <div class="catagory-content">
                        <!-- <a href="#">ריהוט</a> -->
                        @Html.ActionLink("ריהוט", "ShowCategory", "Products", new { category = "furniture" }, null);
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/img/bg-img/nd-5.jpeg);">
                    <div class="catagory-content">
                        <!-- <a href="#">כלי מטבח</a>-->
                        @Html.ActionLink("כלי מטבח", "ShowCategory", "Products", new { category = "kitchenware" }, null);
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/img/bg-img/nd-6.jpeg);">
                    <div class="catagory-content">
                        <!--   <a href="#">דקורציות</a>-->
                            @Html.ActionLink("דקורציות", "ShowCategory", "Products", new { category = "decorations" }, null);
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>פריטים יחודיים</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel text-right">

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/img/product-img/כד מים צרפתי,תחילת המאה ה-20 תמונה ראשונה.jpeg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/img/product-img/כד מים צרפתי,תחילת המאה ה-20 תמונה שניה.jpeg">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>כד מים צרפתי</span>
                            <a href="single-product-details.html">
                                <h6>תחילת המאה ה-20</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">הוסף לסל</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/img/product-img/כד מים קטן מעוטר צרפת, סוף המאה ה-19 תמונה ראשונה.jpeg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/img/product-img/כד מים קטן מעוטר צרפת, סוף המאה ה-19 תמונה שניה.jpeg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>כד מים מעוטר</span>
                            <a href="single-product-details.html">
                                <h6>סוף המאה ה-19</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">הוסף לסל</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/img/product-img/מגש גבינות, עיטור כחול , בלגיה, תמונה ראשונה.jpeg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/img/product-img/מגש גבינות, עיטור כחול , בלגיה, תמונה שנייה.jpeg" alt="">

                            <!-- Product Badge -->
                            <div class="product-badge offer-badge">
                                <span>-30%</span>
                            </div>

                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>מגש גבינות</span>
                            <a href="single-product-details.html">
                                <h6>עיטור כחול מבלגיה</h6>
                            </a>
                            <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">הוסף לסל</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/img/product-img/כלי תליה לאכסון בצל , גרמניה , תחילת המאה ה-20 תמונה ראשונה.jpeg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/img/product-img/כלי תליה לאכסון בצל , גרמניה , תחילת המאה ה-20 תמונה שניה.jpeg" alt="">

                            <!-- Product Badge -->
                            <div class="product-badge new-badge">
                                <span>חדש!</span>
                            </div>

                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>כלי תליה לאחסון בצל</span>
                            <a href="single-product-details.html">
                                <h6>גרמניה, תחילת המאה ה-20</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">הוסף לסל</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/img/product-img/כד מים צרפתי,תחילת המאה ה-20 תמונה ראשונה.jpeg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/img/product-img/כד מים צרפתי,תחילת המאה ה-20 תמונה שניה.jpeg">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>כד מים צרפתי</span>
                            <a href="single-product-details.html">
                                <h6>תחילת המאה ה-20</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">הוסף לסל</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->