
@{
    ViewBag.Title = "shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<!--Shop headline-->
<div class="breadcumb_area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h4>חנות</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop_grid_area section-padding-80 text-right">
    <!--Shop page itself-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">
                    <!--Side bar widget-->
                    <div class="widget catagories-menu mb-50">
                        <!--widget title-->
                        <h5 class="widget-title mb-50">קטגוריות</h5>
                        <!--Catagories-->
                        <div class="catagories-menu">
                            <ul>
                                <!--Single Item-->
                                <li data-toggle="collapse" data-target="#ריהוט">
                                    <a herf="#">ריהוט</a>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
