
@{
    ViewBag.Title = "shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Shop headline-->
<div class="breadcumb_area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h4>חנות</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop_grid_area section-padding-80 text-right">
    <!--Shop page itself-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">
                    <!--Side bar widget-->
                    <div class="widget catagories-menu mb-50">
                        <!--widget title-->
                        <h5 class="widget-title mb-50">קטגוריות</h5>
                        <!--Catagories-->
                        <div class="catagories-menu">
                            <ul>
                                <!--Single Item-->
                                <li data-toggle="collapse" data-target="#furntiure">
                                    <a herf="#">ריהוט</a>
                                </li>
                                <li data-toggle="collapse" data-target="#kitchenware">
                                    <a herf="#">כלי מטבח</a>
                                </li>
                                <li data-toggle="collapse" data-target="#decoration">
                                    <a herf="#">דקורציה</a>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">

                        <!--Single Product-->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!--Single Image-->
                                <div class="product-img">
                                    <img src="../img/place-holders.img/640X480.png" />
                                </div>
                                <!--Product Description-->
                                <div class="product-description">
                                    <h6>דוגמה לפריט</h6>
                                    <p class="product-price">
                                        <span class="old-price">16.50</span>
                                        15.00
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--Single Product-->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!--Single Image-->
                                <div class="product-img">
                                    <img src="../img/place-holders.img/640X480.png" />
                                </div>
                                <!--Product Description-->
                                <div class="product-description">
                                    <h6>דוגמה לפריט</h6>
                                    <p class="product-price">
                                        <span class="old-price">16.50</span>
                                        15.00
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Single Product-->

                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!--Single Image-->
                                <div class="product-img">
                                    <img src="../img/place-holders.img/640X480.png" />
                                </div>
                                <!--Product Description-->
                                <div class="product-description">
                                    <h6>דוגמה לפריט</h6>
                                    <p class="product-price">
                                        <span class="old-price">16.50</span>
                                        15.00
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--Single Product-->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!--Single Image-->
                                <div class="product-img">
                                    <img src="../img/place-holders.img/640X480.png" />
                                </div>
                                <!--Product Description-->
                                <div class="product-description">
                                    <h6>דוגמה לפריט</h6>
                                    <p class="product-price">
                                        <span class="old-price">16.50</span>
                                        15.00
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--Single Product-->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!--Single Image-->
                                <div class="product-img">
                                    <img src="../img/place-holders.img/640X480.png" />
                                </div>
                                <!--Product Description-->
                                <div class="product-description">
                                    <h6>דוגמה לפריט</h6>
                                    <p class="product-price">
                                        <span class="old-price">16.50</span>
                                        15.00
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--Single Product-->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!--Single Image-->
                                <div class="product-img">
                                    <img src="../Images/cup2.jpg" />
                                </div>
                                <!--Product Description-->
                                <div class="product-description">
                                    <h6>דוגמה לפריט</h6>
                                    <p class="product-price">
                                        <span class="old-price">16.50</span>
                                        15.00
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
        </div>
    </div>
</section>
